@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.webWrapper {
    width: 100%;
    height: 100%;

}

.pages {
    max-width: 100%;
    height: 100vh;
    background-color: #072144;
}

.topLogo {
    width: 100%;
    height: 150px;
    text-transform: uppercase;
    color: whitesmoke;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.navlinkul {
    display: flex;
    color: white;
    background-color: #3D5A80;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 150px;
}

.navlinkul li {
    list-style: none;
}

.navlinkul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.navlinkul2 {
    margin-top: 10px;
    background-color: #3d5a80;
}

.page1 {
    padding: 10px;
}

.navlinkul2 a {
    position: relative;
}

.homeBox {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitebox {
    width: 90%;
    height: 100%;
    border-radius: 25px;
}

.dropBox {
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.604);
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.dbinside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dbinside h1 {
    text-align: center;
    font-size: 22px;
}

.dbleft {
    border-right: 2px solid rgb(54, 54, 54);
}

.accountbox {
    position: relative;
}

.accountbox:hover .dropBox {
    opacity: 1;
}

.dbleft-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.dbleft-contents li {
    text-align: left;
}

.sai {
    margin-bottom: 10px;
}

.saini {
    margin-top: 20px;
}

.sas {
    margin-top: 20px;
}

.digibox {
    position: relative;
}

.dbdigital {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.604);
    position: absolute;
    left: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.digibox:hover .dbdigital {
    opacity: 1;
}

.dbdigital ul {
    width: 100%;
    height: 100%;
}

.dbdigital ul li {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
}

.whitebox {
    width: 100%;
    height: 100px;
}

.upihead {
    text-align: center;
}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBox {
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.homeBox h1 {
    margin-bottom: 100px;
    font-size: 80px;
}

.whitebox img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.whitebox .img11 {
    width: 150px;
}

.whitebox .img33 {
    width: 400px;
}

.whitebox .img44 {
    width: 300px;
}

.whitebox .img55 {
    width: 150px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imgbox {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 800px;
    border-radius: 5px;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    transition: 0.5s;
}

.swiper-slide img:hover {
    transform: scale(1.03);
    filter: blur(.5px);
}

.imgcont {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.imgcont img {
    width: 700px;
    height: 350px;
}

.imgcont .imggg1 {}

.imgcont .imggg2 {}
